body {
	background-color: lightgrey;
	font-family: Arial;
	font-size: 12pt;
}

h1 {
	text-align: center;
}

label {
	display: inline-block;
	float: left;
    clear: left;
    width: 180px;
}

input {
	display: inline-block;
}

#appointmentPopup {
	text-align: center;
}

#appointmentPopup section {
	padding: 5px;
}

input[type=number] {
    width: 208px;
}